<p>This is the partial for view 1.</p>

<i-form submit="vm.submit()">
  <i-field label="Label" label-class="col-sm-3" field-class="col-sm-6">
    <input i-field-model type="text" ng-required="1" ng-minlength="5" ng-model="vm.field"/>
    <i-message type="required">You did not enter a field</i-message>
    <i-message type="minlength">The value entered is too short</i-message>
  </i-field>
  <i-field label="Label" label-class="col-sm-3" field-class="col-sm-6">
    <input i-field-model type="text" ng-required="1" ng-minlength="5" ng-model="vm.field"/>
    <i-message type="required">You did not enter a field</i-message>
    <i-message type="minlength">The value entered is too short</i-message>
  </i-field>
  <i class="glyphicon glyphicon-music"></i>
  <input class="btn btn-primary" type="submit" value="enviar"/>
</i-form>

{{ vm.field }}
