.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > a {
  display: inline;
}

.menu > a:before {
  content: "|";
  padding-right: 16px;
}

.menu > a:nth-child(1):before {
  content: "";
  padding: 0;
}
